

{% extends 'listings/base.html' %}

{% block content %}
        <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis doloribus autem neque vero unde sit, error cum possimus iusto expedita quod a in maiores, cumque culpa consequatur repudiandae facilis natus!</p>    
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis possimus praesentium, illo expedita iusto voluptatem iste omnis totam perferendis quod consequuntur inventore neque. Deleniti, debitis unde. Consectetur sint sapiente eveniet!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A debitis veniam consectetur error enim natus aperiam cumque adipisci. Consequuntur animi dolore eos accusantium quos possimus neque modi vitae ducimus suscipit!</p>
{% endblock %}